// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

/**********************************************************
*  Gzus Fonts
***********************************************************/
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Merriweather');



// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #25BDE4,
  secondary:  #ffeb3b,
  danger:     #F95759,
  light:      #f4f4f4,
  dark:       #3F3F3F
);


// custome style Gzus

.f00{font-family: 'Merriweather', serif;}
.f01{font-family: 'Fredoka One', cursive;}
.tooltip-inner,
.f02{font-family: 'Merriweather', serif; font-style: italic;}
.f03{font-family: 'Merriweather', serif; font-weight: 900;}

.bg00{background: #efefef;}
.bg01{background: #ffeb3b;}
.tooltip .tooltip-inner,
.bg02{background: #3F3F3F}
.bg03{background: #F95759;}
.bg04{background: #25BDE4}

.color00{color: #3F3F3F;}
.tooltip .tooltip-inner,
.color01{color: #efefef;}
.color02{color: #ffeb3b;}
.color03{color: #25BDE4;}
a,
.color04{color: #F95759;}

.head{padding: 1rem;}
.hello{padding: 1rem;}
.myName{font-size: 8rem; line-height: 1em; padding: .2em;}
.full-box{width: 100vw; height: 100vh;}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
