<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div color="secundary" class="full-box bg01">


<ion-content padding-top="0" >

  <div class="login bg01 full-box" height="100%" *ngIf="!isRegister">
    <h2 class="hello f03">Hi, welcome to </h2>
    <div class="myName f01" >Gzus.me</div>
    <h2 class="hello f03" style="float: right">Mini chat</h2>
    <div class="clear-fix"></div>
    <hr>


  <ion-list padding>

    <ion-item>
      <ion-label stacked>email</ion-label>
      <ion-input type="email" [(ngModel)]="user" name="user"  required="required"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>password</ion-label>
      <ion-input type="password" [(ngModel)]="pass" name="pass"  required="required"></ion-input>
    </ion-item>

    <div padding text-right>
      <button *ngIf="user && pass" ion-button color="danger"  (click)="submitLogin(user, pass)">
        Login Now</button>
      <!-- Show dead button if form is not filled -->
      <button *ngIf="!user || !pass" ion-button color="dark" >Login</button>
    </div>

  </ion-list>


</div><!--end log in -->
  <div class="register bg01 full-box" height="100%" *ngIf="isRegister">
    <h2 class="hello f03">Start today! Sign up</h2>
    <h2 class="hello f03" style="float: right">On Gzus.me Mini chat</h2>

    <hr>

    <ion-list padding>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="name" [(ngModel)]="register.name" name="name"  required="required"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="register.user" name="user"  required="required"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone</ion-label>
        <ion-input type="phone" [(ngModel)]="register.phone" name="phone"  required="required"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>password</ion-label>
        <ion-input type="password" [(ngModel)]="register.pass" name="pass"  required="required"></ion-input>
      </ion-item>

      <div padding text-right>
        <button *ngIf="((register.user) &&
          (register.name) &&
          (register.pass) &&
          (register.phone))"
                ion-button color="danger"
                (click)="submitSignUp(register.user, register.name, register.pass, register.phone)">
          Sing Up Now</button>
        <!-- Show dead button if form is not filled -->
        <button *ngIf="!((register.user) &&
          (register.name) &&
          (register.pass) &&
          (register.phone))"
                ion-button color="dark" >
          Sing Up</button>
      </div>
    </ion-list>

  </div>

</ion-content>
  <ion-footer color="secondary" padding class="bg01">
    <div >
      <span *ngIf="!isRegister">Don't have an account? Sign up now!</span>
      <span *ngIf="isRegister">You already have an account?</span>
    </div>
    <div text-center>

      <button *ngIf="isRegister" ion-button clear color="danger"  (click)="switchToRegister()">
        < Back to login</button>
      <!-- Show dead button if form is not filled -->
      <button *ngIf="!isRegister"  ion-button clear color="danger" (click)="switchToRegister()">Sing up here</button>
    </div>
  </ion-footer>
</div>
