<ion-tabs tabsPlacement="top">
  <ion-tab [root]="tab1Root" tabTitle="Chat" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Users" tabIcon="contacts"></ion-tab>
</ion-tabs>
