<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="http://i.pravatar.cc/150">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <p>{{user.user}}</p>
    </ion-item>

  </ion-card>
  <ion-card>

    <ion-list>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input type="name" [(ngModel)]="user.name" name="name" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email" [(ngModel)]="user.user" name="email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone:</ion-label>
        <ion-input type="phone" [(ngModel)]="user.phone" name="phone" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pass:</ion-label>
        <ion-input type="password" [(ngModel)]="user.pass" name="pass" ></ion-input>
      </ion-item>
    </ion-list>

  </ion-card>

  <div padding text-right>
    <button *ngIf="user && pass" ion-button color="danger"  (click)="submitLogin()">
      Login Now</button>
    <!-- Show dead button if form is not filled -->
    <button *ngIf="!user || !pass" ion-button color="dark" >Login</button>
  </div>


</ion-content>
