<ion-header>
  <ion-navbar>
    <ion-title>
      Users
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>List of Users</ion-list-header>

      <ion-item *ngFor="let usr of users" >
        <ion-icon name="ionic" item-start></ion-icon>
        {{usr.name}} - {{usr.user}}
      </ion-item>


  </ion-list>

</ion-content>
