<ion-header>
  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <div color="light">
  <ion-grid >
    <button  ion-button clear color="primary"  >
      get last 10 messages <ion-icon name="cloud-download"></ion-icon>
    </button>
  </ion-grid>
  <hr>
  <ion-grid >
    <ion-row *ngFor="let message of chats" style="padding: 0" justify-content-end>
     <ion-col  align-self-end col-8 class="message other_message " style="padding: 0">
        <ion-card  style="padding: 0; margin: .2em 0">
          <ion-card-header color="dark" class="bg01" style="padding: .2em .4em">
            <span style="font-size: .2em; ">{{message.name}} -
              <span class="small">{{message.date | date}}</span>
            </span>
          </ion-card-header>
          <ion-card-content style="padding: .5em">
            <p>{{message.message}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-9>
        <ion-item no-lines>
          <ion-input type="text" placeholder="Enter Message" [(ngModel)]="chat_input"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <button  ion-button color="danger" *ngIf="chat_input" (click)="send(chat_input)" >
          Send
        </button>
        <button ion-button color="dark" *ngIf="!(chat_input)" (click)="send(chat_input)">
          Send
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
